<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.mpaani.mpaani">

    <!-- To auto-complete the email text field in the login form with the user's emails -->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme">
        <activity
            android:name=".LoginActivity"
            android:label="@string/app_name"
            android:windowSoftInputMode="adjustResize|stateVisible" />
        <activity
            android:name=".MPaaniActivity"
            android:label="@string/title_activity_mpaani"
            android:theme="@style/AppTheme.NoActionBar" />

        <service
            android:name="com.mpaani.task.GetAddressFromLocation"
            android:exported="false" />

        <activity android:name=".WelcomeActivity" />
        <activity
            android:name=".SplashScreenActivity"
            android:label="@string/title_activity_splash_screen"
            android:theme="@style/AppTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <service
            android:name="com.mpaani.task.MPaaniLocationService"
            android:enabled="true"
            android:exported="true" />

        <receiver
            android:name="com.mpaani.task.LogoutBroadcastReceiver"
            android:enabled="true"
            android:exported="true" />

        <receiver
            android:name="com.mpaani.helpers.InternetConnectivity"
            android:exported="false">

            <intent-filter>
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE" />
            </intent-filter>

        </receiver>
    </application>

</manifest>
